---
layout: home
---

<div class="home">
  <div class="mini">
  <div class="minipro wow bounceInUp">
      <img src="{{ site.profileimg | prepend: site.baseurl }}" alt="profileimg" />
      <h2>{{ site.title }}</h2>
      <p>
        {{ site.description }}
      </p>
      <p>
        {% if site.github_username %}
        <a target="_blank" href="https://github.com/{{ site.github_username }}" ><span class="fa fa-github"></span></a>
        {% endif %}
        {% if site.twitter_username %}
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter"></span></a>
        {% endif %}
        {% if site.facebook_url %}
        <a target="_blank" href="{{ site.facebook_url }}"><span class="fa fa-facebook"></span></a>
        {% endif %}
        {% if site.tumblr_url %}
        <a target="_blank" href="{{ site.tumblr_url }}"><span class="fa fa-tumblr"></span></a>
        {% endif %}
      </p>
  </div>
</div>


  <div class="blog__posts mdl-grid">
    {% for post in site.posts %}
        <div class="mdl-card mdl-cell mdl-cell--12-col wow bounceInUp">


              <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:url('{{ post.img }}')">
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
              </div>
              <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                {{ post.mcontent }}
              </div>
              <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <div class="minilogo"></div>
                <div>
                  <strong>{{ site.title }}</strong>
                  <span>{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
              </div>
                </div>
    {% endfor %}

</div>
</div>
