.demo-layout-transparent {
  background: url('../img/xloka-bg.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.rss-subscribe {
  position: relative;
  width: 100%;
  color: #fff;
  display: inline-block;
  background-color: #888;
  padding: 30px 0;
  margin: 0;
  p {
    padding: 0 30px;
    font-size: 30px;
    a {
      color: #eee;
    }
  }
}
.loading{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  h1{
    color: #fff;

  }
}
