/**
 * Site header
 */
.site-header {
  min-height: 64px;
  background-color: $primary-color;
  // Positioning context for the mobile navigation icon
  position: relative;
}
.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  &,
  &:visited {
    color: $nav-link-color;
  }
}
.site-nav {
  float: right;
  line-height: 64px;
  .menu-icon {
    display: none;
  }
  .page-link {
    color: $nav-link-color;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path {
          fill: $grey-color-dark;
        }
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background-color: #444;
}
.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
  color: #fff;
}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.footer-col-wrapper {
  font-size: 15px;
  color: #fff;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
  a {
    color: #fff;
  }
}
.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: 0;
}
.wrapper {
  padding: 0;
}
.page-heading {
  font-size: 40px;
  color: #fff;
  padding: 20px;
  background-color: $secondary-color;
}
.post-list {
  margin-left: 0;
  list-style: none;
  float: left;
  width: 100%;
  > li {
    margin-bottom: $spacing-unit;
    width: calc(50% - 10px);
    float: left;
    overflow: hidden;
    margin: 5px;
    h2 {
      a {
        width: 100%;
        padding: 100px 20px 10px;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}
.post-meta {
  font-size: $small-font-size;
  color: #080808;
  padding: 5px 20px;
}
.post-link {
  display: block;
  font-size: 24px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 40px;
  color: #fff;
  padding: 20px;
  background-color: $secondary-color;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  padding: 20px;
  font-size: 20px;
  min-height: 400px;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
.rss-subscribe {
  position: relative;
  width: 100%;
  color: #fff;
  display: inline-block;
  background-color: #888;
  padding: 30px 0;
  margin: 0;
  p {
    padding: 0 30px;
    font-size: 30px;
    a {
      color: #eee;
    }
  }
}
